.cache-options ds
.cache-view ds
.cache-menu
    .item
        button#backward-fast
            i.fa-solid.fa-backward-fast
    .item
        button#backward
            a.fa-solid.fa-backward
    .item#playpause
        button
            a.fa-solid.fa-play
    .item#forward
        button
            a.fa-solid.fa-forward
    .item#foward-auto
        button
            i.fa-solid.fa-forward-fast