.cache-options ds
.cache-view ds
.cache-menu
    .item
        button
            a.fa-solid.fa-backward
    .item
        button
            a.fa-solid.fa-play
    .item
        button
            a.fa-solid.fa-forward
    .item
        button
            a.fa-solid.fa-rotate-right