mixin tableElements()
    - for (let i = 0; i < memory_content.length; i++)
        tr.text-center
            td= memory_content[i]["rw"]
            td= memory_content[i]["addr"]
            td= memory_content[i]["val"]
            td= memory_content[i]["hit"]