head
    title Cache Example
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/cache.css")
    link(rel="stylesheet", href="/css/memory.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // jQuery
    script(src="https://code.jquery.com/jquery-3.6.4.min.js")

    // Bootstrap 5
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css")

    // Font Awesome
    script(src="https://kit.fontawesome.com/c7b2024f07.js" crossorigin="anonymous")

    script(src="/js/cache-controls.js")
    script(src="/js/cacheMain.js")
    script(src="/js/cacheRender.js")
    script(src="/js/memory.js")
    script(src="/js/memoryRender.js")