include functions

include header
body
    .navbar-container
        include navbar
    .body-container.space.bg-dark
        .caches-container
            include cache-view
        .memory-container.p-2
            include memory-view