include functions

include header
body
    .navbar-container
        include navbar
    .body-container.space
        include modal
        .caches-container
            include cache-view
        .memory-container.p-2.overflow-hidden
            include memory-view