.title-container
    h2.text-center Memory Access
    .scrollable-table(style="height: 75%")
        table.table#memoryAccess
            thead.text-center
                th(scope=col) R/W
                th(scope=col) Address
                th(scope=col) Value
                th(scope=col) Hit / Miss
            tbody
.container.mt-3.stats.d-flex.flex-column.justify-content-center
    h3.text-center Stats
    .row
        .col-sm-2.fw-bold Hits
        .col 10
        .col-sm-2.fw-bold Hits
        .col 10
    .row
        .col-sm-2.fw-bold Misses
        .col 10
        .col-sm-2.fw-bold Misses
        .col 10
    .row
        .col-sm-2.fw-bold Ratio
        .col 100%
        .col-sm-2.fw-bold Ratio
        .col 100%
    .row
        .col-sm-2.fw-bold Ratio
        .col 100%
        .col-sm-2.fw-bold Ratio
        .col 100%