.cache-options {
    border-top: #19753A solid 2px;
    background-color: var(--page-primary);
    display: flex;
    flex-direction: row;
    margin: 0;
}

.cache-options > div {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.cache-view {
    height: 82%;
    display: flex;
    flex-direction: row;
    background-color: var(--page-secondary);
}

.cache-view > div:nth-child(odd) {
    background-color: var(--table-primary);
    color: var(--page-secondary);
}

.cache-view > div:nth-child(odd) * >  tr {
    background-color: var(--table-primary);
}

.cache-view > div:nth-child(even) {
    background-color: var(--table-secondary);
    color: var(--page-secondary);
}

.cache-view > div:nth-child(even) * > tr {
    background-color: var(--table-secondary);
}

.cache-menu {
    background-color: var(--page-secondary);
    height: 10%;
    display: flex;
    flex-direction: column;
}

.cache-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cache-progress {
    width: 80%;
    align-items: center;
    margin: 0 auto;
}

.cache-controls .item {
    padding: 10px;
    align-content: center;
}

.cache-controls .item button {
    background-color: transparent;
    border: none;
}

.cache-progress {
    border-radius: 10px;
    background-color: var(--table-alternative);
}

.cache-progress .progress {
    height: 15px;
    background-color: var(--table-alternative);
    border-radius: 20px;

}

.cache-progress .progress div {
    background-color: #BEDCFE;
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.rotated {
    transform: rotateY(180deg);
    background-color: #44bc70 !important;
    color: #fff;
}

tr {
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
    position: relative;
}
.rotated td {
    transform: rotateY(180deg);
}

.cache-error {
    background-color: rgba(255, 67, 67, 0.87)!important;
}

.cache-hit {
    background-color: rgba(12, 170, 12, 0.87)!important;
}

.cache-write {
    background-color: rgba(225, 142, 15, 0.87) !important;
}

tr {
    border-color: transparent!important;
}
