.cache-options {
    background-color: lime;
    display: flex;
    flex-direction: row;
}

.cache-options > div {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.cache-view {
    height: 82%;
    background-color: red;
    display: flex;
    flex-direction: row;
}

.cache-view > div:nth-child(odd) {
    background-color: rebeccapurple;
}

.cache-view > div:nth-child(even) {
    background-color: tomato;
}

.cache-menu {
    background-color: blue;
    height: 10%;
    display: flex;
    flex-direction: column;
}

.cache-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cache-progress {
    background-color: blue;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}

.cache-controls .item {
    padding: 10px;
    align-content: center;
}

.cache-controls .item button {
    background-color: transparent;
    border: none;
}

.cache-progress {
    margin-bottom: 10px;
}

.cache-progress .progress {
    height: 10px;
    border-radius: 20px;
}
