html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar-container {
    flex-shrink: 0;
}

.body-container {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.caches-container {
    background-color: rebeccapurple;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.memory-container {
    background-color: lightcoral;
    width: 40%;
    overflow-x: hidden;
}


